.horizontalRule {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
}

/* CSS Trick */
span {
    display: block;
}

form {
    border: 1px solid black;
    width: 40%;
    padding-top: 15px;
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.explanation {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin: 5px 0 5px 0;
}

button[type="submit"] {
    margin-top: 10px;
}

#exercise-1-div {
    display: inline-block;
    width: 25%;
}

.underline {
    text-decoration: underline;
}
/* Display as inline-block set width and height */
#exercise-1 {
    width: 100%;
    height: 25vh;
    overflow-y: scroll;
    display: inline-block;
    margin-right: 1%;
    border: 1px solid black;
}
#exercise-1b-div {
    width: 25%;
    display: inline-block;
}

/* Display as inline-block set width and height */
#exercise-1b {
    width: 100%;
    height: 25vh;
    overflow-y: scroll;
    display: inline-block;
    margin-left: 1%;
    border: 1px solid black;
}